.payMain {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background: rgb(245, 246, 247);
}

.payAccount {
  text-align: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #E5E5E5;
}

.payAccount p:nth-child(1) {
  opacity: 0.6;
  margin: 0.5rem;
  font-family: PingFangSC-Regular;
  font-size: 1rem;
  color: #333333;
}

.payAccount p:nth-child(2) {
  font-family: PingFangSC-Medium;
  margin: 0;
  font-size: 1.5rem;
  color: #333333;
}

.orderNo {
  text-align: center;
  padding: 0.7rem 0.5rem;
  font-family: PingFangSC-Regular;
  font-size: 0.8rem;
  color: #999999;
  letter-spacing: 0;
  border-bottom: 0.8rem solid rgb(245, 246, 247);
}

.oneItem {
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
  padding: 0.8rem 0;
}

.payChoose {
  background: #FFFFFF;
}

.btn {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.btn div {
  width: calc(100% - 2rem);
  height: 3rem;
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 2px;
  background-color: #2C6EFF;
}